.git
.github
.vscode

**/node_modules
**/.medusa
**/.next
**/dist
**/build
**/.turbo
**/coverage

.env
.env.*
**/.env
**/.env.*
!**/.env.template

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

Dockerfile*
README.md
